<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0a47b2c5-f8af-4a7f-b4d6-55b861ac1f94" name="TestSuite_Inventory" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0a47b2c5-f8af-4a7f-b4d6-55b861ac1f94fileName">TestSuite_Inventory</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
